.profile-page-container {
  display: flex;
  margin: auto;
  width: fit-content;
}

.profile-photo {
  background-color: aliceblue;
  width: fit-content;
}

#profile-details {
  background-color: aquamarine;
}

.form-element {
  background-color: bisque;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.form-element input {
  display: block;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin: 0;
}

input {
  padding: 3px 10px;
  font-size: 18px;
  border: none;
  border-radius: var(--border-radius-big);
  /* max-width: 17rem; */
  height: 1.5em;
  width: 20rem;
  height: 32px;
  color: var(--color-text-hover);

  box-shadow: 0 0 5px hsl(0, 1%, 60%);
}

input:first-of-type {
  margin-top: 24px;
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  color: var(--color-text);
}

:root {
  --color-primary-orange: rgb(255, 122, 0);
  --color-primary-orange-light: rgb(255, 139, 31);

  --color-text: rgb(74, 74, 74);
  --color-text-hover: black;

  --border-radius-small: 2px;
  --border-radius-medium: 4px;
  --border-radius-big: 8px;
}
