* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  color: var(--color-text);
}

:root {
  --color-primary-orange: rgb(255, 122, 0);
  --color-primary-orange-light: rgb(255, 139, 31);

  --color-text: rgb(74, 74, 74);
  --color-text-hover: black;

  --border-radius-small: 2px;
  --border-radius-medium: 4px;
  --border-radius-big: 8px;
}

.profile-page-container {
  display: flex;
  margin: auto;
  width: fit-content;
}

.profile-photo {
  background-color: aliceblue;
  width: fit-content;
}

#profile-details {
  background-color: aquamarine;
}

.form-element {
  background-color: bisque;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

#profile-details h2 {
  font-size: 30px;
  margin: 5px;
}

p label {
  margin-left: 3px;
  color: hsl(120, 1%, 17%);
}

.form-element input {
  display: block;
  padding: 3px 10px;
  font-size: 18px;
  margin-top: 5px;

  border: none;
  border-radius: var(--border-radius-medium);
  height: 1.5em;
  width: 15rem;
  color: var(--color-text-hover);

  box-shadow: 0 0 5px hsl(0, 1%, 60%);
}

::placeholder {
  color: hsl(0, 1%, 49%);
}

#bottom-navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin: 10px;
}

a {
  text-decoration: none;
  font-size: 1.2em;
}

button#save-profile {
  background-color: var(--color-primary-orange-light);
  border: none;
  border-radius: var(--border-radius-big);
  box-shadow: 0 0 5px hsl(0, 1%, 17%);
  color: hsl(204, 12%, 92%);

  padding: 8px;
  font-size: 17px;
}
