* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: hsl(0, 0%, 29%);
  margin: 0;
  padding: 0;
}

.add-property-photo-container {
  width: fit-content;
}

.add-property-photo-container h3 {
  margin: 10px;
  font-size: 1.4em;
}

.photo-upload-section {
  background-color: aliceblue;
  border-radius: 10px;
}

.photo-upload-section label {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 8rem;
  cursor: pointer;
}

.photo-upload-section #upload-icon {
  height: 40px;
}

.photo-upload-section span {
  margin-bottom: 10px;
}
