* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
}

#signupForm {
  background-color: hsl(45, 12%, 94%);
  width: fit-content;
  margin: 3em auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6), 0 0 15px rgba(0, 0, 0, 0.3);
}

fieldset {
  border: none;
  /* display: flex;
  flex-direction: column;
  gap: 23px; */
}

input {
  padding: 3px 10px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  /* max-width: 17rem; */
  height: 1.5em;
  width: 20rem;
  height: 32px;

  box-shadow: 0 0 5px hsl(0, 1%, 60%);
}

input:first-of-type {
  margin-top: 24px;
}

img {
  height: 20px;
  margin-left: -32px;
  margin-bottom: -15px;
  transition: all 1s;
}

img:hover {
  cursor: pointer;
}

#togglePassword {
  display: flex;
}

p {
  display: flex;
  align-items: center; /* Align the input vertically */
  height: 38px;
  margin-bottom: 20px;
  margin-top: 0;
}

p:last-of-type {
  margin-bottom: 30px;
}
/* div.p {
  margin: 0;
  height: fit-content;
} */

#submit {
  border-radius: 10px;
  background-color: #00916e;
  border: none;
  box-shadow: 0 0 5px black;
  color: hsl(204, 12%, 92%);

  display: block;
  padding: 8px;
  font-size: 17px;
  width: 100%;
}

#submit:hover {
  cursor: pointer;
}

#submit:active {
  box-shadow: none;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: #000;
}
