* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}

#signupForm {
  background-color: bisque;
}

#signupForm label {
  display: block;
  margin-top: 20px;
}

#signupForm label:first-of-type {
  display: block;
  margin-top: 5px;
}

input {
  padding: 3px 10px;
  font-size: 18px;
  border: none;
  height: 1.5em;

  box-shadow: 0 0 5px hsl(0, 1%, 60%);
}

img {
  height: 20px;
  margin-left: -32px;
  margin-bottom: -5px;
}

img:hover {
  cursor: pointer;
}

#togglePassword {
  display: flex;
}

#submit {
  background-color: #00916e;
  border: none;
  box-shadow: 0 0 5px black;
  color: hsl(204, 12%, 92%);

  margin-top: 12px;
  margin-bottom: 10px;
  display: block;
  padding: 10px;
  font-size: 17px;
}

#submit:hover {
  cursor: pointer;
}

#submit:active {
  box-shadow: none;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: #000;
}
