<!-- Remove the head part later -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Address</title>
    <link rel="stylesheet" href="addressSelection.css" />
  </head>
  <body>
    <div class="address-details">
      <h2>Address Details</h2>
      <div class="address-input-fields">
        <p>
          <label for="address">Address</label>
          <input
            type="text"
            name="address"
            id="address"
            placeholder="Enter your address"
          />
        </p>

        <p>
          <label for="city">City</label>
          <select id="city">
            <option value="" selected disabled>Search City</option>
            <option value="option 1">City A</option>
            <option value="option 2">City B</option>
            <option value="option 3">City C</option>
          </select>
        </p>

        <p>
          <label for="area">Area</label>
          <input type="text" name="area" id="area" placeholder="Choose Area" />
        </p>

        <p>
          <label for="municipality">Municipality</label>
          <input
            type="text"
            name="municipality"
            id="municipality"
            placeholder="Enter Municipality"
          />
        </p>

        <p>
          <label for="ward">Ward No</label>
          <input
            type="text"
            name="ward"
            id="ward"
            placeholder="Enter Ward No."
          />
        </p>
      </div>
    </div>
  </body>
</html>
