<div id="areaSelectionContainer">
    <select name="district" id="areaSelection">
        <option value="Kathmandu">Kathmandu</option>
        <option value="Kathmandu">Bhaktapur</option>
        <option value="Kathmandu">Lalitpur</option>
    </select>
</div>
