<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/card.css" />
  </head>
  <body>
    <div class="property-card-container">
      <div class="card">
        <div class="card-image">
          <img src="/assets/images/house1.jpg" alt="House Image" />
        </div>

        <div class="card-description">
          <p id="price">1 Lakh</p>
          <p id="property-description">Commercial Property</p>
          <p id="property-location">Bhanesword | KTM</p>
          <div class="additional-details">
            <ul>
              <li>
                <span class="icon">
                  <img src="/assets/icons/land-area.png" alt="land-area" />
                </span>
                <span>
                  6.5
                  <small>Aana</small>
                </span>
              </li>
              <li>
                <span class="icon">
                  <img src="/assets/icons/road-area.png" alt="" />
                </span>
                <span>
                  20
                  <small>Feet</small>
                </span>
              </li>
              <li>
                <span class="icon">
                  <img src="/assets/icons/bedroom-icon.png" />
                </span>
                <span> 2 </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
