<div class="description-container">
        <h2>Description Box</h2>
        <div class="editor" contenteditable="true">
            Start to write from here...
        </div>
    </div>
<script src="/scripts/descriptionBox.js"></script>
