<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EMI Calculator</title>
    <link rel="stylesheet" href="/styles/emiCalculator.css" />
  </head>
  <body>
    <h2>Calculate EMI</h2>
    <form id="emiCalculator">
      <div class="input-fields">
        <h3>EMI Calculator</h3>

        <p>
          <label for="amount">Amount</label>
          <input type="number" name="amount" id="amount" placeholder="रु" />
        </p>

        <p>
          <label for="interest">Interest Rate</label>
          <input type="number" name="interest" id="interest" placeholder="%" />
        </p>

        <p>
          <label for="loan">Loan Tenure</label>
          <input type="number" name="loan" id="loan" placeholder="Yearly" />
        </p>
        <button type="button" id="calculateButton">Calculate</button>
      </div>

      <div class="display-result">
        <div class="result-item">
          <h4>Loan EMI</h4>
          <h3><span>रु</span>0</h3>
        </div>

        <div class="result-item">
          <h4>Total Interest Payable</h4>
          <h3><span>रु</span>0</h3>
        </div>

        <div class="result-item">
          <h4>Total of Payments (Principal + Interest)</h4>
          <h3><span>रु</span>0</h3>
        </div>
      </div>
    </form>
    
    <script src="/scripts/emiCalculator.js"></script>
  </body>
</html>
