<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internal Details</title>
</head>
<body>
    <div class="container">
        <h2>Internal Details</h2>
        <div class="row">
            <div class="form-group">
                <label for="bedroom">Bedroom</label>
                <input type="number" id="bedroom">

                <label for="kitchen">Kitchen</label>
                <input type="number" id="kitchen">

                <label for="bathroom">Bathroom</label>
                <input type="number" id="bathroom">

                <label for="living-room">Living Room</label>
                <input type="number" id="living-room">

                <label for="parking">Parking</label>
                <input type="number" id="parking">

                <label for="total-floors">Total Floors</label>
                <input type="number" id="total-floors">
                
                <label for="built-year">Built Year</label>
                <input type="number" id="built-year">

                <label for="furnishing">Furnishing</label>
                <select id="furnishing">
                    <option value="" disable selected>Choose  Furnishing</option>
                    <option value="furnished">Furnished</option>
                    <option value="semi-furnished">Semi-Furnished</option>
                    <option value="unfurnished">Unfurnished</option>

                </select>
            </div>
        </div>

    </div>
    
</body>
</html>