<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TheLali</title>
    <link rel="stylesheet" href="/styles/landing.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Handlee&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Patrick+Hand&family=Quicksand:wght@300..700&family=Salsa&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div id="logo"><span id="nep">द</span><span id="lali">Lali</span></div>
      <div class="btns">
        <a href="/login"><button>Login</button></a>
        <a href="/signup"><button>Signup</button></a>
      </div>
    </header>

    <main>
      <section class="slogan">
        <p>Helping you find a suitable home is</p>
        <p>Our <span id="typewriter"></span><span id="cursor"> |</span></p>
      </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/TextPlugin.min.js"></script>
    <script>
      const words = ["Priority", "Top Concern", "Mission"];

      // Main timeline
      let mainTimeline = gsap.timeline({
        repeat: -1,
      });

      // for each word create a new timeline, use the text plugin and then add to the main timeline
      words.forEach((word) => {
        let textTimeline = gsap.timeline({
          repeat: 1,
          yoyo: true,
          repeatDelay: 6,
        });

        textTimeline.to("#typewriter", {
          text: word,
          duration: 1,
          onUpdate: () => {
            cursorTimeline.restart();
            cursorTimeline.pause();
          },
          onComplete: () => {
            cursorTimeline.play();
          },
        });
        mainTimeline.add(textTimeline);
      });

      // cursor timeline
      let cursorTimeline = gsap.timeline({
        repeat: -1,
        repeatDelay: 0.8,
      });
      cursorTimeline
        .to("#cursor", {
          opacity: 1,
          duration: 0,
        })
        .to("#cursor", {
          opacity: 0,
          duration: 0,
          delay: 0.8,
        });
    </script>
  </body>
</html>
