<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Property</title>
    <link rel="stylesheet" href="/styles/addressSection.css">
    <link rel="stylesheet" href="/styles/roaddetails.css">
    <link rel="stylesheet" href="/styles/submitpropertybutton.css">
    <link rel="stylesheet" href="/styles/videodetails.css">
    <link rel="stylesheet" href="/styles/areaSelection.css">
    <link rel="stylesheet" href="/styles/postpropertydetails.css">
</head>
<body>
    
</body>
</html>