<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="./styles/profile.css" />
  </head>
  <body>
    <div class="profile-page-container">
      <form id="profile-details" action="/profile" method="post" enctype="multipart/form-data">
        <div class="profile-photo">
          <h2>Profile Details</h2>

          <div class="photos">
            <label for="profile-image">
              <img
                src="<%= user.profileImg ? user.profileImg : "/assets/icons/profile.png"%>"
                alt="Default Profile"
                id="profile-pic"
              />
            </label>
            <input
              type="file"
              name="profileImage"
              id="profile-image"
              accept="image/*"
            />
          </div>
        </div>
        <div class="form-element">
          <p>
            <label>Username </label>
            <input
              type="text"
              name="username"
              id="username"
              placeholder="Username"
              value="<%= user.username%>"
            />
          </p>

          <p>
            <label>City </label>
            <input type="text" name="city" id="city" placeholder="Kathmandu" value="<%= user.city%>"/>
          </p>

          <p>
            <label>Phone </label>
            <input
              type="tel"
              name="phone"
              id="phone"
              placeholder="9876543210"
              value="<%= user.contactno%>"
            />
          </p>
        </div>

        <p id="bottom-navigation">
          <a href="/changingPassword" id="change-password-btn">Change Password</a>
          <button id="save-profile" type="submit">Save Profile</button>
        </p>
      </form>
    </div>
    <script>
      const profilePic = document.getElementById("profile-pic");
      const inputFile = document.getElementById("profile-image");

      inputFile.onchange = function () {
        profilePic.src = URL.createObjectURL(inputFile.files[0]);
      };

      
    </script>
  </body>
</html>
