<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Property Details</title>
    <link rel="stylesheet" href="/styles/propertyDetails.css" />
  </head>
  <body>
    <div>
      <button id="navigate-home">Home</button>
    </div>

    <div class="property-images-carousel">
      <%- include('propertyImgCarousel.ejs') %>
    </div>

    <div class="property-owner-detail">
      <div class="owner-details">
        <div class="image-container">
          <img src="/assets/icons/profile.png" alt="owner profile" />
        </div>

        <div class="info">
          <ul style="list-style-type: none">
            <li>
              <h2>Owner Name</h2>
            </li>
            <li>&#x260E; +99999999999</li>
            <li>&#x2709; test@gmail.com</li>
          </ul>
        </div>
      </div>

      <div class="form-container">
        <form id="contact-form">
          <fieldset>
            <h2>Contact For Enquiry</h2>
            <p>
              <input
                type="text"
                name="fullname"
                id="fullname"
                placeholder="Enter Your full name"
                required
              />
            </p>

            <p>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Email"
                required
              />
            </p>

            <p>
              <input
                type="tel"
                name="contactNo"
                id="contactNo"
                placeholder="Enter your phone no"
                required
              />
            </p>

            <p>
              <textarea
                name="message"
                id="message"
                placeholder="Enter your message here"
              ></textarea>
            </p>

            <button type="submit" name="submit" id="submit">
              Send message
            </button>
          </fieldset>
        </form>
      </div>
    </div>

    <div class="property-info">
      <div class="info-title">
        <h4>Property Id: 123123</h4>
        <p id="property-title">
          Luxurious villa with 3 swimming pools with area of 50 acres.
        </p>

        <p id="property-location">
          <span>
            <img src="/assets/icons/location.svg" alt="location icon" />
          </span>
          Budhanilkantha, Kathmandu
        </p>
      </div>

      <div class="price-section">5 core 15 lakhs</div>
    </div>

    <!-- REQUIRED IMAGES AND DETAILS UPDATE-->
    <div class="property-features">
      <h3>Property Features</h3>
      <ul>
        <li>3 swimming pools</li>
        <li>50 acres area</li>
        <li>5 bedrooms</li>
        <li>3 bathrooms</li>
        <li>2 kitchens</li>
        <li>1 living room</li>
        <li>1 dining room</li>
        <li>1 store room</li>
        <li>1 servant quarter</li>
        <li>1 garage</li>
      </ul>
    </div>

    <div class="property-details">
      <h3>Property Details</h3>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi natus,
      aliquid consectetur quaerat eos optio a magnam inventore alias illum iusto
      ipsa, commodi itaque quibusdam? Fugiat ratione veritatis voluptatum totam.
    </div>

    <div class="property-amenities">
      <h3>Property Amenities</h3>
      <ul>
        <li>Swimming pool</li>
        <li>Garden</li>
        <li>Garage</li>
        <li>24/7 security</li>
        <li>Water supply</li>
        <li>Electricity</li>
        <li>Internet</li>
        <li>Drainage</li>
        <li>Waste disposal</li>
      </ul>
    </div>
  </body>
</html>
