<div class="description-container">
        <h2>Description Box</h2>
        <!-- <div class="editor" contenteditable="true">
            Start to write from here...
        </div> -->
        <textarea name="description" id="descriptionBox" placeholder="Description of the Property here..." rows="5"></textarea>
    </div>
