<div class="internalDetails">
  <h2>Internal Details</h2>
  <div class="details-form">
    <div class="row">
      <label for="bedroom">Bedroom</label>
      <input type="number" id="bedroom" placeholder="0" />

      <label for="kitchen">Kitchen</label>
      <input type="number" id="kitchen" placeholder="0" />

      <label for="bathroom">Bathroom</label>
      <input type="number" id="bathroom" placeholder="0" />

      <label for="living-room">Living Room</label>
      <input type="number" id="living-room" placeholder="0" />
    </div>
    <div class="row">
      <label for="parking">Parking</label>
      <input type="number" id="parking" placeholder="0" />

      <label for="total-floors">Total Floors</label>
      <input type="number" id="total-floors" placeholder="0" />

      <label for="built-year">Built Year</label>
      <input type="number" id="built-year" placeholder="0" />

      <label for="furnishing">Furnishing</label>
      <select id="furnishing">
        <option value="" disable selected>Choose Furnishing</option>
        <option value="furnished">Furnished</option>
        <option value="semi-furnished">Semi-Furnished</option>
        <option value="unfurnished">Unfurnished</option>
      </select>
    </div>
    <div class="row">
      <label for="plot-number">Plot Number</label>
      <input type="number" id="plot-number" placeholder="0" />
    </div>
  </div>
</div>
