/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

/* .areaSelectionContainer {
  width: 90%;
  max-width: 1200px;
  text-align: center;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;

} */

#areaSelectionContainer h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

#areaSelectionContainer select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #333
}
