body{
    font-family: Arial;
    margin: 0;
    padding: 20px;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.description-container{
    width: 60%;
    max-width: 800px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #ffffff;
}

.toolbar{
    display: flex;
    border-bottom: 2px solid black;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px 8px 0 0;
}

.toolbar button{
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
   
}

.toolbar button:hover{
    background-color: #747070;
}