body{
    font-family: Arial;
    margin: 0;
    padding: 20px;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.editor-container{
    width: 60%;
    max-width: 800px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #ffffff;
}