* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

:root {
  --color-primary-orange: rgb(255, 122, 0);
  --color-primary-orange-light: rgb(255, 139, 31);

  --color-text: rgb(50, 50, 50);
  --color-text-hover: black;

  --border-radius-small: 2px;
  --border-radius-medium: 4px;
  --border-radius-big: 8px;
  background: linear-gradient(to right, #d9a7c7, #fffcdc); 
}

#emiCalculator {
  width: fit-content;
  display: flex;
  gap: 20px;
  background-color: #fff7f0;
  margin: auto;
  margin-top: 20vh;
  /* border: 1px solid rgb(171, 169, 169); */
  border-radius: 8px ;
}

.input-fields p {
  margin: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.input-fields h3 {
  text-align: center;
  margin-top: 20px;
  color: black;
  /* color: var(--color-primary-orange-light) */
}

.input-fields p:first-of-type {
  margin-top: 10px;
}

.input-fields input {
  padding: 5px 10px;
  font-size: 18px;

  border: none;
  border-radius: var(--border-radius-medium);
  height: 1.7em;
  width: 15rem;
  color: var(--color-text-hover);

  box-shadow: 0 0 3px hsl(0, 2%, 75%);
  /* border: 1px solid var(--color-primary-orange-light);
  box-shadow: 0 0 5px var(--color-primary-orange-light); */
}

.input-fields label {
  color: var(--color-text);
}

.display-result {
  text-align: center;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgb(171, 169, 169);
  /* border-left: 1px solid var(--color-primary-orange); */
  background-color: #fffbf5; /* Lighter shade for results */
}

.display-result .result-item {
  border-bottom: none;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.display-result h4 {
  /* color: var(--color-primary-orange-light); */
  color: var(--color-text);
  font-weight: 100;
  font-size: 17px;
}

.display-result h3,
.display-result span {
  color: hsl(0, 2%, 41%);
  /* color: var(--color-primary-orange-light); */
}

.result-item:last-of-type {
  border: none;
}
h2{
  text-align: center;
  position: absolute;
  top: 5vh; /* Move heading to top-center */
  left: 50%;
  
  transform: translateX(-50%);
}