.filter {
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
}

.arrow {
    font-size: 1rem;
    margin-left: 10px;
    color: #777;
    transition: transform 0.7s ease-in-out;

}

.type button,
.location button,
.price button,
#search {
    background-color: white;
    padding: 10px 15px;
    border: 1px solid gray;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.7s ease-in-out;
    width: 150px;
    position: relative;
}

.type button:hover,
.location button:hover,
.price button:hover,
#search:hover {
    background-color: rgb(222, 222, 218);
    transform: scale(1.05);
}


.type button:active,
.location button:active,
.price button:active,
#search:active {
    background-color: rgb(200, 200, 200);
    transform: scale(1);
}

/*drop down content*/
.type .content-type,
.location .content-location,
.price .content-price {
    display: none;
    position: absolute;
    background-color: rgb(236, 236, 233);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    width: 150px;
    margin-top: 5px;
}


.type:hover .content-type,
.location:hover .content-location,
.price:hover .content-price {
    display: block;
    flex-direction: column;
    cursor: pointer;
}

.type a,
.location a,
.price a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1rem;
}


.type a:hover,
.location a:hover,
.price a:hover {
    background-color: rgb(222, 222, 218);
    color: #ff6f61;
}

#search {
    background-color: #ff6347;

    padding: 12px 16px;
    border: 1px solid #ff6347;
    cursor: pointer;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.7s ease-in-out;
}

#search:hover {
    background-color: #f76c5e;
    border-color: #f76c5e;
    transform: scale(1.05);
}

#search:active {
    background-color: #e66d00;
    transform: scale(1);
}


.type:hover .arrow,
.location:hover .arrow,
.price:hover .arrow {
    transform: rotate(180deg);
}

.type,
.location,
.price {
    position: relative;
}