body{
    background-color: rgb(255, 115, 0);
    padding: 10px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    width: 80%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;

}

h2{
    margin-bottom: 20px;
    color: rgb(255, 115, 0);
}

.details-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.from-group{
    display: flex;
    flex-direction: column;
    width: calc(16.66% -20px);
}

label{
    font-size: 14px;
    color: black;
    margin-bottom: 5px;
}

select{
    padding: 10px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 4px;

}

input{
    padding: 10px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 4px;
}