body {
    font-family: Arial,  Helvetica,sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 80%;
    max-width: 1000px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.pricing-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 20px); 
}

label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}


