* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #d9a7c7, #fffcdc); 
  color: #333;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  padding: 40px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(0, 0, 0, 0.3);
}

fieldset {
  border: none;
  width: 100%;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #3b3b3b;
  margin-bottom: 20px;
  text-align: center;
}

p {
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}

input, select {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f0f0f0;
  outline: none;
  transition: 0.3s ease;
}

input:focus, select:focus {
  border-color: #8d6fe5;
  box-shadow: 0 4px 6px rgba(141, 111, 229, 0.2);
}

button {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 15px;
  border: none;
  background: #b53e1d;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #d76b2c;
}

#saveCredentialContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px; /* Adjusts space between checkbox and label */
  font-size: 0.9rem;
  margin-top: 10px;
  width: 100%;
}

#saveCredentialContainer input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#saveCredentialContainer label {
  font-size: 0.9rem;
  color: #333;
  cursor: pointer;
  white-space: nowrap; /* Ensures the label stays in one line */
}

a {
  display: block;
  text-align: center;
  margin-top: 15px;
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: 500;
  color: #000001;
  transition: color 0.3s ease;
}

a:hover {
  color: #6b48c7;
}

select {
  margin-top: 10px;
}

.errorInput {
  border: 1.5px solid rgb(255, 88, 88);
}
