/* body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #d9a7c7, #fffcdc);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */

/* .container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;

} */

.videodetails {
    margin-top: 18px;
}

.videodetails .h2 {
    text-align: center;
    margin-top: 18px;
    margin-bottom: 18px;
}

.videodetails label {
    font-size: 16px;
    margin-top: 10px;
    display: block;
    color: #555;

}

.videodetails input {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.videocontainer {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}